.logo_container {
    display: left;
    align-items: center;
    padding: 10px;
    background-color: white; /* Light background color for the header */
}

.logo_container h5 { 
margin-left: 115px;
}

#logo {
    width: 280px;
    height: auto;
    margin-left: 100px;
}
