/* components/SmallCalculator.css */
.small-calculator-container {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  input[type="number"] {
    width: 100%;
    box-sizing: border-box;
    /* padding: 8px; */
    /* margin-top: 5px; */
    
  }
